/*mobile first*/
html {
  box-sizing: border-box;
  font-size: 0.625em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8f8f8;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  list-style-type: none;
  margin-bottom: 2rem;
}
ul .book:hover {
  transform: scale(1.01);
}

#app {
  margin: 0 1.5rem;
}

h1 {
  color: #014d9f;
  margin: 1rem 0 1rem 2rem;
}

h2 {
  font-size: 2rem;
  margin: 5rem auto;
  text-align: center;
}

.book {
  box-shadow: 0.2rem 0.5rem 0.3rem 0 rgba(0, 0, 0, 0.5);
  background-color: #cfedeb;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
}

.book h4 {
  border-bottom: 0.5px dotted #617d98;
  flex: 1;
  font-size: 1.5rem;
  min-height: 4rem;
}
.book div {
  flex: 2;
}
.book p {
  font-size: 1rem;
  margin: 1rem auto;
}

@media (min-width: 36em) and (max-width: 62em) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 62.063em) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
